
/* 1. DÉFINITION DES VARIABLES */
:root {
    /* --- MODE CLAIR --- */
    --bg-main: #f4f4f4; 
    --text-main: #0a0a0a;
    --text-secondary: #555555;
    
    --card-bg: #ffffff;
    --card-border: rgba(0, 0, 0, 0.05);
    --card-shadow: rgba(0, 0, 0, 0.05);
    
    --btn-bg: #000000;
    --btn-text: #ffffff;
    
    --input-bg: #ffffff;
    --input-border: #e0e0e0;
}

/* --- MODE SOMBRE --- */
[data-theme="dark"] {
    --bg-main: #0a0a0a; /* Couleur de fond noire qui va se mélanger à l'image */
    --text-main: #ffffff;
    --text-secondary: #a0a0a0;
    
    --card-bg: #161616; /* Gris très foncé pour les cartes */
    --card-border: rgba(255, 255, 255, 0.1);
    --card-shadow: rgba(0, 0, 0, 0.5);
    
    --btn-bg: #ffffff;
    --btn-text: #000000;
    
    --input-bg: #1f1f1f;
    --input-border: #333333;
    
    /* ASTUCE : En mode sombre, on mélange le noir avec ton image */
    /* Cela assombrit l'image automatiquement sans la supprimer ! */
    background-blend-mode: overlay; 
}

/* 2. APPLICATION GLOBALE */
* { margin: 0; padding: 0; box-sizing: border-box; }

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    width: 100%;
}

body {
    /* On garde ta couleur de fond variable */
    background-color: var(--bg-main);
    
    /* ON GARDE TON IMAGE ICI */
    background-image: url("/img/fond.png");
    
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    font-family: sans-serif;
    color: var(--text-main); 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.AppMain > section {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 140px 20px 100px 20px;
}

#contact {
    padding-top: 40px !important;
    padding-bottom: 1000 !important;
    margin-bottom: 0 !important;
}

.AppMain { position: relative; z-index: 1; }
body, a, button {
    cursor: none; /* Cache le curseur système */
}
/* Nouveau style pour le badge au-dessus du prénom */
.status-badge {
    display: inline-block;
    width: fit-content;
    
    background-color: rgba(16, 70, 104, 0.1);
    color: #104668;
    border: 1px solid rgba(16, 70, 104, 0.2);
    
    /* --- CE QUI CHANGE POUR AGRANDIR --- */
    padding: 10px 24px;   /* Plus d'espace autour (Haut/Bas  Gauche/Droite) */
    font-size: 1rem;      /* Texte plus grand (avant c'était 0.8rem) */
    border-radius: 50px;  /* Garde la forme arrondie */
    
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px; /* Espacement des lettres un peu plus large */
    
    margin-bottom: 25px;  /* Un peu plus d'espace sous le badge */
}