.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: auto;
    bottom: 30px;
    left: 50%;
    padding: 10px 20px;
    transform: translateX(-50%);
}

.backdrop-blur {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 99px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar a {
    color: var(--monochrome);
    font-family: "Sora";
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 99px;
    transition: 0.2s ease-out;
}

.titlesbtn {
    margin-left: 8px;
    font-size: 16px;
}

.icon {
    color: var(--monochrome);;
    display: flex;
    border-radius: 999px;
    background-color: transparent;
    border: none;
    transition: 0.2s ease-out;
}

.navbar a:hover {
    background: rgba(255, 255, 255, 0.24);
    border-radius: 99px;
    box-shadow: 0 0px 20px rgba(70, 70, 70, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transform: scale(1.05);
}

.navbar a.active[data-section="home"] .icon {
    color: var(--navicons-home);
}

.navbar a.active[data-section="works"] .icon {
    color: var(--navicons-work);
}

.navbar a.active[data-section="skills"] .icon {
    color: var(--navicons-skills);
}

