

.Skillspage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 8rem;
}
.h1-skills {
    font-family: "Instrument Serif";
    text-align: left;
    font-style: bold;
    font-weight: 200;
    font-size: 6rem;
    letter-spacing: 0;
}
